* {
    margin: 0%;
    padding: 0%;
}

h2 {
    padding: 20px;
    margin-left: 480px;
    text-align: center;
}

.formulario {
    text-align: center;
    float: left;
}

.formulario input {
    padding: 10px;
}

.cop {
    position: absolute;
    width: 100%;
    height: 69px;
    margin-top: 540px;
    margin-inline-end: 0%;
    text-align: center;
    background-color: black;
    color: #ffffff;
}

.copy p {
    margin: 10px auto;
    padding: 30px;
}

aside img:hover {
    background-color: rgba(255, 255, 255, 0.8);
}